<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">
                Registro de Ventas
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Crear Venta" 
                  icon="pi pi-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/ventas/nuevo']">
                </a>
            </div>
        </div>
    </ng-template>

    <p>
        <p-table [value]="ventas">
            <ng-template pTemplate="header">
                <tr>
                    <th>Fecha Venta</th>
                    <th>Subtotal</th>
                    <th>Impuestos</th>
                    <th>Descuentos</th>
                    <th>Total</th>
                    <th>Cliente</th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-venta>
                <tr>
                    <td>{{ venta.fechaVenta }}</td>
                    <td>{{ venta.subtotal | currency }}</td>
                    <td>{{ venta.impuestos | currency }}</td>
                    <td>{{ venta.descuentos | currency }}</td>
                    <td>{{ venta.total | currency }}</td>
                    <td>{{ venta.clientes_id }}</td>
                    <td>
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/ventas/edit', venta.id]">
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="eliminar(venta.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
